<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8"/>

<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>

</br>
</br>
</br>
</br>

<table>
    <tr>
        <th>
            <form method="post">
                <div class="form-group">
                    <label>end word 1
                        <input type="text" name="endword1" th:value="${endword1}">
                    </label>
                    </br>
                    <label>end word 2
                        <input type="text" name="endword2" th:value="${endword2}">
                    </label>
                    </br>
                    <label>end word 3
                        <input type="text" name="endword3" th:value="${endword3}">
                    </label>
                    </br>
                    <label>end word 4
                        <input type="text" name="endword4" th:value="${endword4}">
                    </label>
                    </br>
                    <label>end word 5
                        <input type="text" name="endword5" th:value="${endword5}">
                    </label>
                    </br>
                    <label>end word 6
                        <input type="text" name="endword6" th:value="${endword6}">
                    </label>
                </div>

                <input type="submit" value="Submit" class="btn btn-success">

            </form>
        </th>
        <th>

            big ole sestina explanation

        </th>
    </tr>
    <tr>
        <td>
            <textarea id="sestina" name="sestina" type="text" th:value="${sestina}" rows="40" cols="100">
            </textarea>
        </td>
        <td>
            <label>stanza one</label>
                <div th:each="endword: ${stanzaOne}">
                    <p th:text="${endword}"></p>
                </div>
        </br>
            <label>stanza two</label>
                <div th:each="endword: ${stanzaTwo}">
                    <p th:text="${endword}"></p>
                </div>
            </br>
            <label>stanza three</label>
                <div th:each="endword: ${stanzaThree}">
                    <p th:text="${endword}"></p>
                </div>
            </br>
            <label>stanza four</label>
                <div th:each="endword: ${stanzaFour}">
                    <p th:text="${endword}"></p>
                </div>
            </br>
            <label>stanza five</label>
                <div th:each="endword: ${stanzaFive}">
                    <p th:text="${endword}"></p>
                </div>
            </br>
            <label>stanza six</label>
                <div th:each="endword: ${stanzaSix}">
                    <p th:text="${endword}"></p>
                </div>
        </br>
        <div>
            <label>envoi</label>

            <p th:if="${END1 == null || END6 == null}"> put end words 1 and 6 in the first line of your envoi</p>
            <p th:if="${END2 == null || END5 == null}"> put end words 2 and 5 in the second line</p>
            <p th:if="${END3 == null || END4 == null}"> put end words 3 and 4 in the final line</p>


<!--not sure why this conditional works, but it keeps the following envoi guide from showing up before the form is submitted-->
        <div th:unless="${END1 == null}">
                            <p th:text="'Use '+ ${END1} +' and '+ ${END6} +' in line one'"></p>
                            <p th:text="'Use '+ ${END2} +' and '+ ${END5} +' in second line'"></p>
                            <p th:text="'Use '+ ${END3} +' and '+ ${END4} +' in final line'"></p>
        </div>

        </div>
        </td>
    </tr>
</table>

<!--th:text="'Hi, ' + ${givenName} + ' ' + ${familyName}"-->

</body>
</html>