<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8"/>

<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>


</br>
</br>
</br>
</br>
    <form method="post">
        <div class="form-group">
        <label>end word 1
            <input type="text" name="endword1" th:value="${endword1}">
        </label>
    </br>
        <label>end word 2
            <input type="text" name="endword2" th:value="${endword2}">
        </label>
        </br>
        <label>end word 3
            <input type="text" name="endword3" th:value="${endword3}">
        </label>
        </br>
        <label>end word 4
            <input type="text" name="endword4" th:value="${endword4}">
        </label>
        </br>
        <label>end word 5
            <input type="text" name="endword5" th:value="${endword5}">
        </label>
        </br>
        <label>end word 6
            <input type="text" name="endword6" th:value="${endword6}">
        </label>
        </div>

        <input type="submit" value="Submit" class="btn btn-success">

        </form>
    </body>

<body>
<p>The sestina poetry format is a French tradition that follows a pattern of word repetition. This structure encourages the poet to build a consistent theme or image, and the complicated tradition allows writers to present as an obscure academic. But I’m looking to change that last part!

    It’s okay if the following diagram is a little strange or confusing. Play around with the sestina tool at your own pace. You’ll get it! </p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Sestina_system_alt.svg/1200px-Sestina_system_alt.svg.png" alt="sestina explanation" width="500" height="290">
</body>
</html>