<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8"/>

<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: page-header"></div>


</br>
</br>
</br>
</br>
    <form action="post">
        <label>end word 1
            <input type="text" name="endword1" id="endword1">
        </label>
    </br>
        <label>end word 2
            <input type="text" name="endword2" id="endword2">
        </label>
        </br>
        <label>end word 3
            <input type="text" name="endword3" id="endword3">
        </label>
        </br>
        <label>end word 4
            <input type="text" name="endword4" id="endword4">
        </label>
        </br>
        <label>end word 5
            <input type="text" name="endword5" id="endword5">
        </label>
        </br>
        <label>end word 6
            <input type="text" name="endword6" id="endword6">
        </label>

    </form>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>

</body>
</html>