<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8"/>

<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: page-header"></div>
</body>

<body>

<p>When I was studying poetry in college I wished a tool existed that could help with traditional poetry formatting. A sestina, for example, requires a repitition of the final word in a poem's stanzas that follow a consistent cycle. It's hard to explain, but it's very easy to look at. This tool allows you to take an easy look at tricky poetry traditions. It's designed for curious writers who want to play around with rhyme and learn a bit about literature without the tuition price or the stuffy lecture.</p>
</body>


</html>