<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8"/>

<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: page-header"></div>
</body>

</br>
</br>
</br>
<h1>What is Deep Draft?</h1>
<body>

<p>Deep Draft is a poetry formatting tool designed for curious writers who want to play around with rhyme and learn a bit about literature.</p>
<p>(Without the tuition price or the stuffy lecture.)</p>
<p>Poetry formats can be hard to explain, but they're easy to look at. Let's take an easy look at a tricky poetry tradition! Try drafting a sestina.</p>
</body>

<h2>Sestina</h2>
<div>
    <body>
    <p th:text="${sestinaExplanation}">Sestina Explanation</p>
    <img th:src="@{/images/diagram_sestina.png}">
    </body>
</div>


</html>