<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8"/>

<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: page-header"></div>


</br>
</br>
</br>


<img th:src="@{/images/deep_draft_logo.png}">
<body>
<!--      <h1>Welcome to Deep Draft!</h1>-->

    </br>
      <h2>Deep Draft encourages writers to get familiar with poetry traditions by making the process more accessible.</h2>
            <p>This is an open-sourced project that brings creativity to code. Kind of like the <a href="https://blog.jpl.design/posts/s20/pixel-by-pixel/cyberflowers/" target="_blank">cyber flowers</a> project I used to make this logo. There's a whole world of crafty code out there!</p>
</body>
</html>