<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <meta charset="UTF-8"/>


    <head th:replace="fragments :: head"></head>

    <body>
    <div th:replace="fragments :: page-header"></div>
    </body>

<body>
<h2>Let me see an example</h2>

<p>Honestly, I did not realize just how old this poetry tradition is until set out to make this example page and found this. The following sestina was written before paper was even produced! I realize it's difficult to pull inspiration from a translation of an ancient text, but I'll just show you how this works right quick.</p>
<p>Dante Alighieri also wrote the 14th-century poem <i>The Divine Comedy</i>, which ends with <i>The Inferno</i>.</p>
<img th:src="@{/images/dante.png}">
<p>Ok, so if Dante had access to my app he'd establish his end words like so:</p>
<img th:src="@{/images/end_words_dante.png}">
<p>Then use them as a guide as the poem was crafted in the text box</p>
<img th:src="@{/images/example_endwords.png}">
<p>I realize this app assumes that you're 100% sure about your end words from the beginning. Feel free to put new end words into the form submission, but know that the text box will be cleared. <b>The sestina text box doesn't save your work as you go! Use "copy" or save it to a notepad.</b></p>




<h2>What's an envoi?</h2>
<p>An envoi is a final message in any poem. It's not a term that is specific to the sestina.
    <img th:src="@{/images/envoyer.png}">
</br>
    You can think of it as the post script of a letter, an opportunity to speak directly to the reader, or to the subject of the poem.
</br>
    It's optional! Your sestina will still qualify as a sestina without the envoi.
</br>
    If you do choose to create an envoi in your sestina, you'll be creating three final lines with the first and sixth end words in line one, the fourth and third end words in line two, and the fifth and second end words in line three.
</br>
    The reasoning for this is so each line adds to seven.
</br>
    The reason it adds to seven? . . . Because seven is lucky??
</br>
    Who knows! Have fun with it!</p>
</br>

<p>My absolute favorite envoi in a poem is in Elizabeth Bishop's "One Art." The formatting style of "One Art" is called a vilanelle.</p>
<img th:src="@{/images/Art_of_Losing.png}">

<p>The way this poem shifts from speaking to the reader to speaking to the subject ("—Even losing you"), could be described as the <b>volta</b> of the poem. The <b>volta</b> of a poem describes the point in a poem that turns it's voice or perspective. The technique is originally associated with Shakesperean sonnets that transition into a speaker who supplies a conclusion to the poem.</p>

</body>
</html>